@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: normal;
  }

  h2 {
    font-family: 'faustina' !important;
    font-weight: 400 !important;
  }

  h2 em {
    font-family: 'faustina-italic' !important;
  }

  .prose :where(strong):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    color: inherit !important;
  }

  h2 strong {
    font-weight: 600 !important;
  }

  @font-face {
    font-family: 'faustina';
    src: url('/fonts/Faustina-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'faustina-italic';
    src: url('/fonts/Faustina-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
    font-style: normal;
  }

  @font-face {
    font-family: 'satoshi-italic';
    src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
    font-style: normal;
  }

  :root {
    --radius: 8px;
    --background: #fef5e6; /* hsla(38, 92%, 95%, 1) */
    --background-light: #fffaf1;
    --foreground: #202620;

    --card: #0a0a0a; /* hsl(0 0% 4%) */
    --card-foreground: #343e36;

    --popover: #05050a; /* hsl(222.2 84% 4.9%) */
    --popover-foreground: #343e36;

    /* BRAND  */
    --brand: #343e36;

    --brand-0: #202620;
    --brand-10: #2a322b;
    --brand-20: #343e36;
    --brand-30: #475049;
    --brand-60: #d7e1d6;

    --primary: #202620;
    --primary-foreground: #0c0d0f; /* hsl(222.2 47.4% 11.2%) */
    --primary-light: #fff9ee;
    --primary-dark: #f2ddba;

    --secondary: #f1dfc1;
    --secondary-foreground: #343e36;

    --muted: #232a2e; /* hsl(217.2 32.6% 17.5%) */
    --muted-foreground: #a8aeb5; /* hsl(215 20.2% 65.1%) */

    --gold: #dab77e;

    --accent: #232a2e; /* hsl(217.2 32.6% 17.5%) */
    --accent-foreground: #343e36;

    --destructive: #b02c27; /* hsl(0 62.8% 30.6%) */
    --destructive-foreground: #343e36;

    --border: #262626cc; /* hsla(0, 0%, 15%, 0.8) */
    --input: #232a2e; /* hsl(217.2 32.6% 17.5%) */
    --ring: #d6d9e6; /* hsl(212.7 26.8% 83.9%) */

    --success: #003466; /* hsl(196 100% 14%) */
    --warning: #664d1a; /* hsl(34 51% 25%) */
    --error: #9e4f3c; /* hsl(10 39% 43%) */

    --swiper-pagination-bullet-inactive-color: #475049;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-color: #151a15;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-border-radius: 100px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

.swiper-pagination-bullet {
  @apply !transition-all duration-200;
}

.swiper-pagination-bullet-active {
  @apply !w-11 transition-all duration-200;
}

html {
  opacity: 0;
  @apply font-satoshi font-normal;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.swiper-pagination-bullets-dynamic {
  @apply !translate-x-0;
}

@layer utilities {
  .bg-floral-pattern,
  .bg-floral-pattern-2 {
    background-color: var(--background-light);
    position: relative;
  }

  .bg-floral-pattern::after,
  .bg-floral-pattern-2::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 62%;
    height: 100%;
    background-image: url('/img/floral.png');
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
  }

  .bg-floral-pattern-2::after {
    background-image: url('/img/floral-2.png');
  }
}
